@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;800;900&family=Outfit:wght@100;200;500;600;900&family=Poppins:wght@300;400;500&family=Raleway:wght@600;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
}


a{
    text-decoration: none;
    text-transform: none;
    color: currentColor;
}


input {
    font-size:  16px; 
    padding:  20px 15px; 
    height:  56px; 
    border:  none; 
    border-bottom:  solid 1px rgba(0, 0, 0, 0.192); 
    background:  #fff; 
    width:  280px; 
    transition:  all .3s linear; 
}
input:hover{
    border-bottom: solid 1px black;
    
}
input:focus-visible {
    outline:none;
}


button {
    
    width: 20%;
    border: none;
    background-color: white;
    cursor: pointer;
    
}



.formu {
    border: solid 3px black;
    padding:  40px 30px; 
    background:  #fefefe; 
    display:  flex; 
    flex-direction:  column;
    align-items:  flex-start; 
    
}
.container {
    padding: 5rem 5rem 5rem 5rem;
    margin-left: auto;
    margin-right: auto;
}


.menu-items {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.18);

}


.footer {
    padding: 10px;
    
}
.footer p {
    text-align: center;
}