@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;800;900&family=Outfit:wght@100;200;500;600;900&family=Poppins:wght@300;400;500&family=Raleway:wght@600;900&display=swap');




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


a{
    text-decoration: none;
    text-transform: none;
    color: currentColor;
}



.container {
    text-align: center;
    display: flex;
    flex-direction: column;
}

input {
    width: 20%;
}

button {
    width: 20%;
}

.menu-items {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.18);

}


.footer {
    padding: 10px;
}

.footer p {
    text-align: center;
}