@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;800;900&family=Outfit:wght@100;200;500;600;900&family=Poppins:wght@300;400;500&family=Raleway:wght@600;900&display=swap');




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


a {
    text-decoration: none;
    text-transform: none;
    color: currentColor;
}



.navbar {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    position: fixed;
    background-color: white;
    top: 0%;
    width: 100%;
    padding-bottom: 10px;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar ul li {
    margin-left: 40px;
    font-size: 15px;
}


#BSignin {
    padding: 2px 5px;
    position: absolute;
    margin-left: 20rem;

    border-radius: 5px;
    border: solid 1.5px;

    box-shadow: 1px 1px 2px 1px grey;


}

#BSignin:hover {

    color: white;
    background-color: rgba(0, 0, 0, 0.76);
    box-shadow: 1px 1px 1px 1px rgb(0, 0, 0);

}


#Blogin {
    padding: 2px 5px;
    position: absolute;
    margin-left: 16rem;

    border-radius: 5px;
    border: solid 1.5px;

    box-shadow: 1px 1px 2px 1px grey;
}

#Blogin:hover {

    color: white;
    background-color: rgba(0, 0, 0, 0.76);
    box-shadow: 1px 1px 1px 1px rgb(0, 0, 0);

}



.menu-list {
    display: flex;
    justify-content: space-evenly;

}

.menu-list ul {
    list-style: none;
}

.menu-items {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.18);

}


.footer {
    padding: 10px;
}

.footer p {
    text-align: center;
}